@model List<ClienteModel>
@{
    ViewData["Title"] = "Clientes";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Cliente" asp-action="Create">Novo cliente</a>
    </div>
    <br />
    <h1 class="display-4">Clientes</h1>
    
    <table class="table" id="tableClientes">
        <thead>
            <tr>
                <th scope="col">#</th>

                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Data de nascimento</th>
                <th scope="col">Data de cadastro</th>
                <th scope="col">Renda familiar</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach (ClienteModel c in Model)
                {
                    <tr>
                        <th scope="row">@c.Id</th>
                        <td>@c.Nome</td>
                        <td>@c.Cpf</td>
                        <td>@c.DataNascimento</td>
                        <td>@c.DataCadastro</td>
                        @if (@c.RendaFamiliar <= 980)
                        {
                            <td><span class="badgeeClasseA">R$ @decimal.Floor(@c.RendaFamiliar)</span></td>
                        }
                        else if (@c.RendaFamiliar > 980 && @c.RendaFamiliar <= 2500)
                        {
                            <td><span class="badgeeClasseB">R$ @decimal.Floor(@c.RendaFamiliar)</span></td>
                        }
                        else
                        {
                            <td><span class="badgeeClasseC">R$ @decimal.Floor(@c.RendaFamiliar)</span></td>
                        }
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@c.Id" asp-controller="Cliente" asp-action="Update">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@c.Id" asp-controller="Cliente" asp-action="Delete">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

</div>

